body{
    height: 100%;
    }
header{
    height: 100px;
    background-color: #444fa6;
	color: #ffffff;
   	 }
footer{
	height: 100px;
        background-color: #909199;
      }
div{
  	height: 350px;
	margin-bottom:780px;
    	}
#title{
	font-size: 18px;
	margin-left:12px;
	margin-top:10px;
	background-color:#444fa6;
}
#logo{
	width: 50px;
	height:50px;
	margin-left:50px;
}
.nav{
	float:right;
  	margin-right:50px;
	background-color: #909199;
	color: #ffffff;  
	} 
h1,table{
	margin-left: 120px;
	}
h3{
	margin-left: 250px; 
	color: #1fdb48;
}
h4{
	margin-left: 250px;
	color: #8f929c; 
} 
.al-left{
	text-align: left;
	width: 100px;  
	}
.al-right{
	text-align: right;
	width: 100px;  
	 }
.al-mid{
	text-align: centre;
	width: 100px; 
}
