body{
    height: 100%;
    }
header{
    height: 100px;
    background color:#444fa6;
   	 }
footer{
	height: 100px;
        background color:#909199;
      }
div{
  	height: 40px;
    	}
#title{
	font size: 18px;
	margin left:10px:
	margin top:10px;
	background color:#444fa6
}
#logo{
	width: 50px;
	height:50px:
	margin left:100px;
}
menu{
	float:right;
  	margin right:50px;
	}
h1,table{
	margin left: 100px;
	}
.al-left{
	text align:left;
	}
.al-right{
	text align:right;
	 }
.al-mid{
	text align:center;
}